* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.pos-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-nav {
    display: flex;
    flex-direction: column;
    align-items: justify;
    width: 600px;
}

.user-nav li {
    list-style-type: none;
    background: #574f4f;
    padding-left: 0;
    border: 1px #EEE solid;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.user-nav span {
    text-decoration: none;
    color: #EEE;
    padding: 5px 10px;
    display: block;
}

.edit-btn, .remove-btn, .view-btn, .close-btn, .add-btn {
    padding: 10px 20px;
    background: #00ff00;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px #574f4f solid;
    cursor: pointer;
}

.edit-btn:hover, .remove-btn:hover, .view-btn:hover, .close-btn:hover, .add-btn:hover {
    background: #EEE;
    transition: 0.3s linear;
}

.view-div, .edit-div, .add-div {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #341ac7;
    color: #EEE;
    flex-direction: column;
    padding: 20px;
}

.edit-div {
    background: #c68433;
}

.add-div {
    background: #9d04e3;
}

.edit_form, .add_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_input {
    background: #ccc212;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
}

.btn_ac {
    margin: 10px;
    padding: 10px 20px;
    background: #9d04e3;
    color: #EEE;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px #574f4f solid;
    cursor: pointer;
}

.add_form .btn_ac {
    background: #ccc212;
}

.btn_ac:hover {
    background: #EEE;
    color: #000;
    transition: 0.3s linear;
}

.alert-text {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(134, 27, 27);
}